@using MVCCoreWeb.Models.Database
@{
    List<User> user = Model.userList;
}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1>Using Data dependency get list data</h1>
<br />
<table class="table table-striped border" id="myTable">
    <thead>
        <tr class="bg-primary text-white">
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile No</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in user)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.UserName</td>
                <td>@item.UserEmail</td>
                <td>@item.UserMobileNo</td>
                <td>
                    <a asp-action="Edit" class=" btn btn-default bt-sm" asp-route-id="@item.UserId"><i class="fa fa-pencil-square-o"></i></a> |
                    <a asp-action="Delete" class="btn btn-default bt-sm" asp-route-id="@item.UserId"><i class="fa fa-times"></i></a> |
                    <a asp-action="Details" class="btn btn-default bt-sm" asp-route-id="@item.UserId"><i class="fa fa-info-circle "></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
