@using MVCCoreWeb.Models.Database
@{
    List<User> user = Model.userList;
}

    <h1>Using Data dependency get list data</h1><br />
    <table class="table table-striped border">
        <thead>
            <tr class="bg-primary text-white">
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile No</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in user)
            {
            <tr>
                <td>@item.UserId</td>
                <td>@item.UserName</td>
                <td>@item.UserEmail</td>
                <td>@item.UserMobileNo</td>
                <td>
                    <a asp-action="Edit" class=" btn btn-danger" asp-route-id="@item.UserId">Edit</a> |
                    <a asp-action="Details" class="btn btn-dark" asp-route-id="@item.UserId">Details</a> |
                    <a asp-action="Delete" class="btn btn-outline-dark" asp-route-id="@item.UserId">Delete</a>
                </td>
            </tr>
        }
            </tbody>
        </table>
    
